<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Beer')">
</head>

<body>
<nav th:replace="fragments::menu"></nav>

<h1 th:object="${beer}" th:text="${beer.name}"></h1>

<div th:if="${beer} !=null" th:object="${beer}">
    <dl>
        <dt>Alcohol</dt>
        <dd th:text="*{alcohol}"></dd>

        <dt>Price</dt>
        <dd th:text="*{price}"></dd>

        <form th:object="${beerForm}"
              method="post"
              th:action="@{'/beers/' + ${beer.id} + '/add'}">


                <dt>Amount</dt>
                <input th:field="*{amount}" type="number" required min="1"/>

            <input type="submit" value="Add"/>
        </form>
    </dl>
</div>


</body>
</html>