<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Cart')">
</head>

<body>

<nav th:replace="fragments::menu"></nav>

<h1>Cart</h1>

<!--<ul th:if="${pizzasInCart} !=null">-->
<!--<li th:each="pizza:${pizzasInCart}"-->
<!--th:text="${pizza.name}">-->

<!--</li>-->
<!--</ul>-->
<div th:if="${cart} !== null" th:object="${cart}">
    <dl>
        <form th:object="${cartForm}"
              method="post"
              th:action="@{/cart}">

            <dt>Name</dt>
            <input th:field="*{name}" type="text"/>

            <dt>Street</dt>
            <input th:field="*{street}" type="text"/>

            <dt>House Number</dt>
            <input th:field="*{houseNr}" type="text"/>

            <dt>Postcode</dt>
            <input th:field="*{postcode}" type="number"/>

            <dt>Gemeente</dt>
            <input th:field="*{gemeente}" type="text"/>


            <input type="submit" value="Confirm an order">

        </form>
    </dl>
</div>

<script th:src="@{/js/preventDoubleSubmit.js}"></script>

</body>
</html>