<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Cart')">
</head>

<body>

<nav th:replace="fragments::menu"></nav>

<h1>Cart</h1>

<table>
    <tr>
        <th>Beer</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Subtotal</th>
    </tr>
    <tr th:each="cartItem:${cartItems}" th:object="${cartItem}">
        <td th:text="${cartItem.beer.name}"></td>
        <td th:text="${cartItem.beer.price}"></td>
        <td th:text="${cartItem.amount}"></td>
        <td th:text="${cartItem.subtotal}"></td>
    </tr>
    <tr>
        <td><b>Total: </b></td>
        <td th:text="${total}"></td>
    </tr>
</table>


<div>
    <form th:object="${cartForm}"
          method="post"
          th:action="@{/cart}">

        <dt>Name</dt>
        <input th:field="*{name}" type="text"/>

        <dt>Street</dt>
        <input th:field="*{street}" type="text"/>

        <dt>House Number</dt>
        <input th:field="*{houseNr}" type="text"/>

        <dt>Postcode</dt>
        <input th:field="*{postcode}" type="number"/>

        <dt>Gemeente</dt>
        <input th:field="*{gemeente}" type="text"/>

        <input type="submit" value="Confirm an order">

    </form>
</div>

<script th:src="@{/js/preventDoubleSubmit.js}"></script>

</body>
</html>